.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login {
    background-color: #333;
    color: whitesmoke;
    padding: 2em 2em;
    border-radius: 1em;
    width: 60%;
    height: fit-content;
}

.loginForm {
    display: grid;
}

.formLabel {
    margin: 1em 0;
    
}

.formInput {
    padding: 0.5em;
}

.formSubmit {
    margin: 1em 0em;
    padding: 0.5em;
    font-size: larger;
    font-weight: bolder;
    background-color: #333;
    color: violet;
    border: 0.3em solid violet;
    border-radius: 0.5em;
    transition: 200ms ease-in-out;
}

.formSubmit:hover {
    color: whitesmoke;
    background-color: violet;
}